a{
    text-decoration: none;
    color:#56576e;
}


/*zubair*/

.nav-header{
    padding: 15px 0 15px 0;
    background: white;
}

.nav-item{
    padding:10px;
}

.home{
    color: #6858db;
}

.nav-btn{
    padding: 15px 40px;
    color: #6858db;
    display: inline-block;
}

.nav-btn:hover{
    background: #6858db;
    border-radius: 100px;
    color: white;
    cursor: pointer;
}


/*banner*/
.ban-img{
    background: url(../img/header-bg-1.jpg) no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
    width: 100%;
    height: 88vh;
    padding-top: 50px;
}

/*app store buttons*/
.app-store{
    margin-top:80px;
}

.app-btn{
    padding: 30px 40px;
    background:#22233b;
    border-radius: 100px;
}

/*end zundir*/